 .container-left {
    background: #13171c;
    height: 100vh;
    color: aliceblue;
    size: 6;
    
}
.container-right {
    background: #101317;
    height: 100vh;
    color: aliceblue;
    size: 6;
    
}
.links {
 padding: 5vh;
 
}

.con-links {
  padding: 2%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.btnbox {
  padding: 2%;
}

.btn {
  background: coral;
  margin-top: 10vh;
  margin-right: 4vh;
  width: 9vh;
  height: 9vh;
  
}
.btn:hover {
  background: #1f2226;
  color: gray;
  
}

.aboutme {
    padding: 5vh;
    font-size: 3vh;
}

.typwrt {
    color:coral;
}

.txt-aboutme {
    padding: 2%;
}

.Comments {
    margin-left: -2%;
    font-size: 2.5vw;
    display: inline-block;
  }
  
.Comment_Icon {
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
.Student_Icon {
    width: 12%;
  }

img {
    border-radius: 10%;
  }