 .container-left {
    background: #13171c;
    height: 100vh;
    color: aliceblue;
    size: 6;
    
}
.container-right {
    background: #101317;
    height: 100vh;
    color: aliceblue;
    size: 6;
    
}
.links {
 padding: 5vh;
 
}

.con-links {
  padding: 2%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.cont-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Row {
    position:absolute;
    bottom:2%;
}
.btn {
  background: #101317;
  width: 10vh;
  height: 10vh;
  margin: 2vh;
}
.coll {
    gap: 50px;
}

.btn:hover {
  background: coral;
  color: gray;
  
}

.aboutme {
    padding: 5vh;
    font-size: 3vh;
}

.typwrt {
    color:coral;
}

.txt-aboutme {
    padding: 2%;
}

.Comments {
    margin-left: -2%;
    font-size: 2.5vw;
    display: inline-block;
  }
  
.Comment_Icon {
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
.Student_Icon {
    width: 12%;
  }

img {
    border-radius: 10%;
  }

.ico {
    width: 100%;
}
.timeline {
    position: relative;
    background: #101317;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 14px;
    padding: 5rem;
    margin: 0 auto 1rem auto;
    overflow: hidden;
}
.timeline:after { /* Content Links (Oranger Punkt und Box) */
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    border-right: 2px solid #1f2226;
    height: 100%;
    display: block;
}
a:after, a:before, a:hover, a { text-decoration: none; color: aliceblue;}
.raise:hover {
  box-shadow: 0 0 11px rgb(128, 128, 128, 0.5); 
  transition: box-shadow 0.3s ease-in-out;
}
.timeline-row { /* Layout */
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}
.timeline-row .timeline-time { /* Layout Datum */
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;
    color: aliceblue;
    font-size: 1.5rem;
}
.timeline-row .timeline-time small { /* Jahr */
    display: block;
    font-size: 0.8rem;
}
.timeline-row .timeline-content { /* Layout Boxen */
    position: relative;
    padding: 20px 30px;
    background: #13171c;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.timeline-row .timeline-content:before { /* Oreanger Punkt */
    content: "";
    position: absolute;
    top: 20px;
    right: -49px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 10;
    background: coral;
    border: 2px solid coral;
}

.timeline-row:nth-child(even) .timeline-content { /* Content Rechts (Oranger Punkt und Box) */
    margin-left: 40px;
    text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:before { /* Oranger Punkt*/
    left: -52px;
    right: initial;
}
.timeline-row:nth-child(odd) { /*Content Links */
    padding-left: 0;
    padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time { /* Rechts Datum */
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content { /* Content Links (Oranger Punkt und Box) */
    margin-right: 40px;
}


@media (max-width: 992px) {
    .Comment_Icon {
        padding: 2%;
        display: contents;
        margin-left: -5px;
        width: 100%;
      }
      .Comments {
        width: 100%;
        padding: 2%;
      }
      
      .aboutme {
        padding: 2%;
        font-size: 3vh;
    }
      .Student_Icon {
        width: 30%;
        padding: 2%;
        padding-top: 5%;
      }
    .btn {
        background: #101317;
        width: 7vh;
        height: 7vh;
        margin: 1vh;
      }
    .timeline {
        padding: 15px;
    }
    .timeline:after {
        border: 0;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
        text-align: left;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:after {
        display: none;
    }
}